* {
    box-sizing: border-box;
}
.wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.form-group {
    display: flex;
}

input, 
select,
.btn-agregar {
    margin-bottom: 20px;
    height: 30px;
}
 
input,
select {
    width: 40%;
}

.btn-agregar {
    width: 80px;
    margin-right: 20px;
    justify-self: flex-start;
}

.btn-enviar {
    width: 100%;
    margin-top: 20px;
    height: 30px;
}



